@use "mixins/breakpoints" as *;

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 24px !important;
}

.mb-5 {
  margin-bottom: 48px !important
}

.me-3 {
  margin-right: 16px !important;
}

.decoration-line {
  margin: 0 16px;
  width: 50px;
  border: solid 1px var(--cus-color-primary-400);
  position: relative;

  @include media-breakpoint-up(sm) {
    width: 94px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 6px;
    height: 6px;
    background: var(--cus-color-primary-400);
    border-radius: 50%;
  }
}

.decoration-left-circle::before {
  left: -6px;
}

.decoration-right-circle::before {
  right: -6px;
}